body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 7% 93%;
    grid-template-rows: 10% 1fr;
    height: 100%;
    grid-template-areas: "header header"
                         "nav movies"
}

.header {
    grid-area: header;  
}
.header-container {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-areas: "header-title-container header-browser header-user";
    height: 100%;
}
figure {
    margin:  0;
}
.header-title-container {
    grid-area: header-title-container;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.header-img img{
    width: 50px;
    height: 50px;
}
.header-title{
    color: white;
    font-weight: 500;
    margin: 0;
    -webkit-text-stroke: 1px #fd6766;
    font-size: 32px;
}
.header-browser {
    grid-area: header-browser;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-browser form, .header-browser input {
    width: 90%;
}
.form input{
    border: 1px solid #b2b1b6;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;  
    height: 25px;
}
.header-user {
    grid-area: header-user;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-username{
    font-weight: bold;
    margin: 0;
    margin-right: 5px;
}
.header-photo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon-triangle-down {
    font-size: 25px;
}
.icon-menu {
    display: none;
}

.nav {
    grid-area: nav; 
    background: #fd6766;
}
.nav-container {
    color: white;
    display: grid;
    height: 100%;
    align-content: space-evenly;
    grid-template-rows: 80% 10%;
    grid-template-areas: "top"
                         "bottom";
}
.top {
    grid-area: top;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(3, 80px);
    grid-template-areas: "home"
                         "trending"
                         "like";
}
.home {
    grid-area: home;
}
.trending {
    grid-area: trending;
}
.like {
    grid-area: like;
}
.bottom {
    grid-area: bottom;
    margin-bottom: 10px;
}
.nav-container i {
    font-size: 32px;
    display: flex;
    justify-content: center;
}
.nav-container p {
    margin: 0;
    text-align: center;
}

.movies {
    grid-area: movies;
    background: #e8e7eb;
}
.movies-container {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    height: 100%;
    grid-column-gap: 32px;
    justify-content: center;
}
.movie-section {
    grid-column: 1 / span 3;
    font-size: 20px;
}
.movie {
    position: relative;
    display: block;
}
.movie-image img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.movie-overlay {
    background: rgba(253, 103, 102, .6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}
.movie-title {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.movie-description {
    margin: 5px;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .movie-title {
        font-size: 16px;
    }
    .movie-description {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .header-img img{
        width: 40px;
        height: 40px;
    }
    .header-title {
        font-size: 26px;
    }
    .header-username {
        font-size: 14px;
        margin: 0;
    }
    .header-photo img{
        width: 40px;
        height: 40px;
    }
    .icon-triangle-down {
        font-size: 20px;
    }

    .nav-container i {
        font-size: 28px;
    }
    .nav-container p {
        font-size: 12px;
        margin-top: 5px;
    }

    .movie-section {
        grid-column: 1 / span 3;
        font-size: 18px;
    }
    .movie-overlay {
        top: 50%;
    }
    .movie:hover .movie-overlay {
        top: 0;
    }
    .movie-description {
        display: none;
    }
    .movie:hover .movie-description {
        display: flex;
    }
}

@media screen and (max-width: 480px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: .1fr .1fr 10fr;
        height: 100%;
        grid-template-areas: "header"
                             "nav"
                             "movies";
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header-title-container"
                             "header-browser"
                             "header-user";
        height: 100%;
    }
    .header-title-container {
        grid-area: header-title-container;
        display: flex;
        justify-content: center;
    }
    .header-browser {
        grid-area: header-browser;
    }
    .header-browser form {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    .header-user {
        grid-area: header-user;
    }
    .header-username {
        margin-right: 10px;
    }

    .nav-container {
        color: white;
        display: grid;
        height: 100%;
        grid-template-columns: 80% 20%;
        grid-template-areas: "top bottom";
    } 
    .top {
        grid-template-rows: none;
        grid-template-columns: repeat(3, 80px);
        grid-template-areas: "home trending like";
    }
    .bottom {
        margin-top: 10px;
    }

    .movies-container {
        grid-template-columns: 1fr;
        grid-gap: 16px;
        margin: 16px 16px;
    }
    .movie-section {
        grid-column: initial;
        font-size: 32px;
    }
    .movie-title {
        font-size: 28px;
    }
    .movie-description {
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .movie-title {
        font-size: 24px;
    }
    .movie-description {
        font-size: 16px;
    }
}